@import '@styles/Variables';

.button {
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color, filter, color;
    transition-duration: 0.3s;
    flex-shrink: 0;
    &:hover {
        // &:focus
        &:not(.disabled) {
            cursor: pointer;
            filter: brightness(110%);
            &.grey {
                filter: brightness(96%);
            }
        }
    }
    // colours
    &.blue {
        background-color: $blue5; //#51a6dc; //#3a88f0;
        color: white;
    }
    &.aqua {
        background-color: $aqua; //#00b178; //#17b35d;
        color: white;
    }
    &.red {
        background-color: $red2; //#00b178; //#17b35d;
        color: white;
    }
    &.grey {
        background-color: $grey2; //#00b178; //#17b35d;
        color: $black2;
        > svg > path {
            fill: $grey6;
        }
    }
    &.purple {
        background-color: $purple1;
        color: white;
    }
    &.gbg-black {
        background-color: black;
        color: white;
    }
    &.gbg-white {
        border: 2px solid black;
        background-color: white;
        color: black;
    }

    // sizes
    &.small {
        font-size: 10px;
        height: 20px;
        padding: 0 10px;
    }
    &.medium {
        font-size: 14px;
        height: 30px;
        padding: 0 15px;
    }
    &.medium-large {
        font-size: 14px;
        height: 35px;
        padding: 0 15px;
    }
    &.large {
        font-size: 14px;
        height: 40px;
    }
    // disabled
    &.disabled {
        > p {
            opacity: 0.5;
        }
    }
    // icon
    > svg {
        width: 20px;
        height: 20px;
        opacity: 0.7;
        &:not(:last-child) {
            margin-right: 7px;
            margin-left: -5px;
            // opacity: 0.7;
        }
    }
    // loading wheel
    > div {
        margin: 0 -10px 0 10px;
    }
}
