@import '@styles/Variables';

.wrapper {
    all: unset;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    background-color: $grey1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $grey5;
    flex-shrink: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all 0.5s;

    > svg {
        color: $grey7;
        height: 50%;
        width: 50%;
        transition: all 0.5s;
    }

    &:hover {
        background-color: $bluegrey1;
        border: 1px solid black;

        > svg {
            color: $grey7;
        }
    }
}
