@import '@styles/Variables';

.wrapper {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: center;

    &.clickable {
        cursor: pointer;
    }

    > p {
        margin-left: 10px;
    }

    .item1 {
        z-index: 3;
    }
    .item2 {
        z-index: 2;
        margin-left: -10px;
    }
    .item3 {
        z-index: 1;
        margin-left: -10px;
    }
}
