@import '@styles/Variables';

$transitionSpeed: 1s;

.wrapper {
    padding-top: 60px;
    width: 100%;
    height: 100vh;
    z-index: $pageContentZIndex;
    background-color: $grey1;

    .videoBackground {
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
        border: none;
    }

    .mainContent {
        width: 100%;
        height: 100%;
        transition: height $transitionSpeed;
        &.showBeads {
            height: calc(100% - 200px);
        }
        
        .commentBar {
            position: relative;
            padding-right: 20px;
            width: 350px;
            height: 100%;
            background-color: $white;
            flex-shrink: 0;
            transition: margin-left $transitionSpeed;

            &.hidden { margin-left: -330px }

            &.transparent {
                background-color: rgba($white, 0.3);
                .commentInput {
                    background-color: rgba(#f7f7f9, 0.2);
                }
                .closeCommentsBar {
                    background-color: rgba($grey2, 0.2);
                }
            }

            .comments {
                position: relative;
                padding: 10px;
                // width: 350px;

                .userComment {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 10px;
                    overflow: hidden;
                    .commentText {
                        margin-left: 10px;
                        width: calc(100% - 50px);
                        // header
                        > div {
                            > h1 {
                                font-size: 14px;
                                font-weight: 800;
                                margin: 0;
                                overflow-wrap: break-word;
                            }
                            > p {
                                margin-left: 3px;
                                font-size: 14px;
                                color: $grey4;
                                overflow-wrap: break-word;
                            }
                        }
                        // comment
                        > p {
                            font-size: 14px;
                            overflow-wrap: break-word;
                        }
                    }
                }

                .adminComment {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 10px;
                    color: rgb(163, 163, 163);
                }
            }

            .commentInput {
                display: flex;
                padding: 10px;
                background-color: #f7f7f9;
            }
            
            .closeCommentsButton {
                all: unset;
                position: absolute;
                // border-left: 1px solid $grey3;
                // border-right: 1px solid $grey3;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 0;
                height: 100%;
                width: 20px;
                background-color: $grey2;
                > svg {
                    color: $grey4;
                    height: 18px;
                }
            }
        }

        .centerPanel {
            width: 100%;
            padding-top: 20px;
            position: relative;

            .gameControls {
                align-items: flex-start;
                position: absolute;
                left: 20px;
                top: 20px;

                > p { margin-bottom: 5px }

                .playerState { color: $grey4 }

                .gameLocked {
                    margin: 5px 0 15px 0;
                    > svg {
                        width: 25px;
                        height: 25px;
                        opacity: 0.3;
                        margin-right: 7px;
                    }
                    > p {
                        color: $grey5;
                    }
                }
            }

            .people {
                position: absolute;
                right: 20px;
                top: 20px;
                > p {
                    margin-bottom: 10px;
                }
            }
        }

        .videos {
            $fullWidth: 1280;
            $fullHeight: 720;
            $padding: 10px;
            margin: $padding;
            width: 450px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            transition: margin $transitionSpeed;

            // sizing
            // 1 - 2
            &.xl {
                $width: $fullWidth / 3 + px;
                $height: $fullHeight / 3 + px;
                &.hidden { margin-right: - $width }
                width: $width;
                .videoWrapper {
                    width: $width;
                    height: $height;
                    > video {
                        width: $width;
                        height: $height;
                    }
                }
            }
            // 3
            &.lg {
                $width: $fullWidth / 4 + px;
                $height: $fullHeight / 4 + px;
                &.hidden { margin-right: - $width }
                width: $width;
                .videoWrapper {
                    width: $width;
                    height: $height;
                    > video {
                        width: $width;
                        height: $height;
                    }
                }
            }
            // 4
            &.md {
                $width: $fullWidth / 5 + px;
                $height: $fullHeight / 5 + px;
                &.hidden { margin-right: - $width }
                width: $width;
                .videoWrapper {
                    width: $width;
                    height: $height;
                    > video {
                        width: $width;
                        height: $height;
                    }
                }
            }
            // 5 +
            &.sm {
                $width: $fullWidth / 6 + px;
                $height: $fullHeight / 6 + px;
                &.hidden { margin-right: - $width }
                width: $width;
                .videoWrapper {
                    width: $width;
                    height: $height;
                    > video {
                        width: $width;
                        height: $height;
                    }
                }
            }
        
            .videoWrapper {
                display: flex;
                position: relative;
                margin-bottom: $padding;
                flex-shrink: 0;
                &:last-child { margin-bottom: 0 }
                > svg {
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    top: calc(50% - 30px);
                    left: calc(50% - 30px);
                    color: $grey6;
                }
                > video {
                    border-radius: 10px;
                    background-color: $grey4;
                    object-fit: cover;
                }
                > .videoUser {
                    position: absolute;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin: 7px;
                    padding: 7px 10px;
                    border-radius: 7px;
                    background-color: rgba(255, 255, 255, 0.5);
                }
                > .videoButtons {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    padding: 8px 12px;
                    display: flex;
                    > button {
                        all: unset;
                        color: $white;
                        background-color: rgba($black1, 0.3);
                        padding: 7px;
                        border-radius: 50%;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:not(:last-child) {
                            margin-right: 10px;
                        }
                        > svg {
                            width: 20px;
                            height: 20px;
                            opacity: 0.8;
                            transition: opacity 0.5s;
                        }
                        transition: background-color 0.5s;
                        &:hover {
                            background-color: rgba($black1, 0.5);
                            > svg { opacity: 1 }
                        }
                    }
                }
            }
        }
    }
}

.position {
    width: 35px;
    height: 35px;
    background-color: $white;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.positionControls {
    height: 35px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > button {
        all: unset;
        cursor: pointer;
        display: flex;
        //justify-content: center;
        color: $grey4;
        &:hover {
            color: $grey5;
        }
        &:disabled {
            color: $grey3;
            cursor: unset;
        }
        > svg {
            width: 16px;
            height: 16px;
            
        }
    }
    
}
.topic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #fbfbfb;
    box-shadow: 0 0 10px 0 rgba(10, 8, 72, 0.15);
    margin: 10px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    > img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}
.topDNA {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    color: $grey2;
    > svg {
        height: 45px;
    }
}
.dna {
    &.top { top: 196px }
    &.bottom { top: 500px }
    position: absolute;
    
    display: flex;
    flex-direction: column;
    z-index: 1;
    color: #e6e9ef; // $grey3; //#c3dbff; //rgb(253, 213, 125);
    > svg {
        height: 45px;
    }
}
.timer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    > .timerArcTitles {
        position: absolute;
        top: -1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        > p {
            margin-bottom: 8px;
        }
        > span {
            font-size: 24px;
        }
    }
    > .mainBead {
        width: 160px;
        height: 160px;
        position: absolute;
        // border: 2px solid $grey3;
        background-color: #fbfbfb;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 1px 10px 0 rgba(10, 8, 72, 0.15);
        > img {
            width: 120px;
            height: 120px;
        }
    }
}
.grey {
    margin-top: 10px;
    color: $grey5;
}
.red {
    margin-top: 10px;
    color: $red;
}
.recordingFlag {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
    &.recording {
        background-color: $red;
    }
    &.recordingNext {
        background-color: $orange;
    }
}
.soundWaveIcon {
    width: 200px;
    height: 200px;
}
.beads {
    position: absolute;
    bottom: -200px;
    padding: 0 40px;
    background-color: $grey1;
    border-top: 1px solid #ddd;
    height: 200px;
    width: 100%;
    flex-shrink: 0;
    overflow-x: scroll;
    transition: bottom $transitionSpeed;

    &.visible { bottom: 0 }

    &.transparent {
        background-color: rgba($white, 0.3);
    }
}
@keyframes fadeInOpacity {
	0% { opacity: 0 }
	100% { opacity: 1 }
}
.beadWrapper {
    display: flex;
    flex-direction: row;
}
.bead {
    position: relative;
    width: 140px;
    height: 140px;
    background-color: white;
    box-shadow: 0 1px 10px 0 rgba(10, 8, 72, 0.15);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
	animation-duration: 1s;
    > audio {
        width: 100px;
    }
    // > img {
    //     /// position: absolute;
    //     width: 70px;
    //     height: 70px;
    // }
    > img {
        position: absolute;
        width: 80px;
        height: 80px;
        left: calc(50% - 40px);
        top: calc(50% - 40px);
    }
    .beadControls {
        // height: 15px;
        // // position: absolute;
        display: flex;
        // // align-items: center;
        // // justify-content: center;
        // width: 100%;
        > button {
            all: unset;
            cursor: pointer;
            display: flex;
            > svg {
                height: 18px;
                color: $blue5;
                // width: 15px;
                // opacity: 0.5;
                // color: rgb(198, 226, 252);
            }
        }
    }
}
.beadText {
    
}
.beadDivider {
    width: 50px;
    display: flex;
    flex-direction: row;
    //justify-content: center;
    align-items: center;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
	animation-duration: 2s;
    > svg {
        transform: rotate(90deg);
        height: 50px;
        color: $grey3;
    }
}
.dividerLine {
    height: 2px;
    width: 40px;
    background-color: #ddd;
}
.dividerConnector {
    height: 40px;
    width: 40px;
}
// .gameControls {
//     margin-top: 10px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     > div {
//         display: flex;
//         align-items: center;
//         margin-bottom: 10px;
//         &:last-child {
//             margin-bottom: 0;
//         }
//     }
// }
.numberInput {
    border: none;
    background-color: white;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 20px;
    padding: 5px 10px;
}