@import '@styles/Variables';

.wrapper {
    position: relative;

    :global(.rdw-editor-toolbar) {
        border: 1px solid $grey2;
        margin: 0;

        :global(.rdw-option-wrapper) {
            height: 30px;
            min-width: 30px;

            &:global(.rdw-option-active) {
                background-color: $grey2;
            }
        }

        :global(.rdw-colorpicker-modal) {
            left: -142px;
        }
    }

    :global(.rdw-editor-main) {
        background-color: white;
        padding: 0 15px;
        border: 1px solid $grey2;

        span {
            font-family: inherit;
        }
        img {
            max-width: 100%;
        }
    }

    &.invalid {
        :global(.rdw-editor-main) {
            border: 2px solid $red;
        }
        svg {
            color: $red;
        }
    }

    &.valid {
        :global(.rdw-editor-main) {
            border: 2px solid $green;
        }
        svg {
            color: $green;
        }
    }

    // .stateIcon {
    //     position: absolute;
    //     top: 126px;
    //     right: 10px;

    //     > svg {
    //         flex-shrink: 0;
    //         height: 20px;
    //         width: 20px;
    //     }
    // }

    > p {
        margin-top: 5px;
        color: $red;
    }
}
