@import '@styles/App.scss';

$defaultColor: $grey7;
$highlightColor: $blue5;

.wrapper {
    width: 100%;
    border-bottom: 2px solid $grey2;
    margin-top: 15px;
    padding: 0 $pageContentHorizontalPadding - 5px;

    .tab {
        margin: 0 10px;
        color: $defaultColor;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 20px;
            line-height: 20px;
        }

        svg {
            width: 22px;
            height: 22px;
            margin-right: 10px;
        }

        .underline {
            height: 2.5px;
            width: 100%;
            margin-top: 5px;
        }

        &:hover {
            .underline { background-color: $defaultColor }
        }

        &.selected {
            color: $highlightColor;
            .underline { background-color: $highlightColor }
        }
    }
}