@import '@styles/Variables';

.playCard {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid $grey2;
    border-radius: 10px;
    background-color: $grey1;
}

.icon {
    width: 14px;
    height: 14px;
    color: $grey4;
}
