@import '@styles/Variables';

.wrapper {
    width: 100%;

    .posts > div, .spaces > div { margin-bottom: 2px }

    @include for-tablet-portrait-up {
        padding: 0 10px;
        .posts > div, .spaces > div { margin-bottom: 15px }
    }
    @include for-post-width-up { width: 800px }
    @include for-tablet-landscape-up { min-height: calc(100vh - 220px) }
    @include for-desktop-medium-up { min-height: calc(100vh - 320px) }
    
    .noResults {
        
    }
}