@import '@styles/Variables';

.wrapper {
    width: 100%;
    max-width: 800px;
    min-height: calc(100vh - 195px);

    .posts > div { margin-bottom: 5px }

    @include for-tablet-portrait-up {
        padding: 0 10px;
        .posts > div { margin-bottom: 15px }
    }
    @include for-tablet-landscape-up { min-height: calc(100vh - 220px) }
    @include for-desktop-medium-up { min-height: calc(100vh - 320px) }
    
    .noResults {
        
    }
}