@import '@styles/Variables';

.wrapper {
    width: 70px;
    height: 100%;
    position: fixed;
    left: 0;
    top: $navbarHeight;
    z-index: $sidebarSmallZIndex;

    .container {
        background-color: rgba(black, 0.5);
        padding-top: 10px;
        width: 70px;
        height: 100%;
        position: fixed;
        left: -70px;
        transition: left 0.5s;

        .section {
            > a > div {
                margin-bottom: 10px;
            }
        }

        > p {
            font-size: 10px;
            margin-bottom: 10px;
            color: $grey5;
            text-align: center;
        }

        .joinSpacesButton {
            all: unset;
            cursor: pointer;
            background-color: $grey7;
            &:hover { filter: brightness(130%) }
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: filter 0.3s;
            > svg {
                width: 50%;
                height: 50%;
                color: $aqua;
            }
        }
    }

    &:hover > .container { left: 0 }
}