@import '@styles/Variables';

.wrapper {
    all: unset;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .toggle {
        width: 45px;
        height: 26px;
        border-radius: 13px;
        margin: 0 10px;
        padding: 3px;
        background-color: $grey4;
        position: relative;
        transition: background-color 0.5s;

        &.blue {
            background-color: $blue5;
        }

        .toggleButton {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $white;
            position: absolute;
            left: calc(100% - 23px);
            transition: left 0.5s;
            &.toggleLeft {
                left: calc(0% + 3px);
            }
        }
    }
}
