@import '@styles/Variables';

.wrapper {
    position: absolute;
    padding-bottom: 30px;

    .content {
        background-color: white; // $bluegrey1;
        padding: 15px;
        border-radius: 10px;
        // border: 1px solid #ddd;
        box-shadow: 0 0px 10px 0 rgba(10, 8, 72, 0.15);
        z-index: 1;
    }

    .pointer {
        width: 14px;
        height: 14px;
        background-color: white; // $bluegrey1;
        border-radius: 2px;
        position: absolute;
        left: calc(50% - 7px);
        bottom: 25px;
        transform: rotate(45deg);
        // box-shadow: 0 0px 10px 0 rgba(10, 8, 72, 0.14);
        z-index: 2;
    }
}
