@import '@styles/Variables';

.wrapper {
    width: 100%;
    z-index: 50;
    position: fixed;
    bottom: 8px;

    .container {
        background-color: white;
        border: 1px solid rgb(228, 228, 228);
        padding: 10px;
        border-radius: 20px;
        box-shadow: 0 0px 20px 0 rgba(10, 8, 72, 0.14);

        .divider {
            height: 30px;
            width: 2px;
            background-color: $grey3;
            border-radius: 2px;
            margin-right: 10px;
            flex-shrink: 0;
        }
    }
}
