@import '@styles/Variables';

.wrapper {
    width: 100%;
    z-index: 90;
    position: fixed;
    bottom: 15px;
    pointer-events: none;

    .container {
        background-color: white;
        border: 1px solid rgb(228, 228, 228);
        padding: 12px;
        border-radius: 37px;
        box-shadow: 0 0px 20px 0 rgba(10, 8, 72, 0.14);
        pointer-events: all;

        .newButtons {
            button {
                all: unset;
                cursor: pointer;
                display: flex;
                align-items: center;
                color: $grey7;
                transition: color 0.3s;

                svg {
                    width: 25px;
                    height: 25px;
                    margin-right: 8px;
                }

                &:not(:last-child) {
                    margin-bottom: 8px;
                }

                &:hover {
                    color: $blue5;
                }
            }
        }

        .streamButton {
            display: flex;
            align-items: center;
            margin-bottom: 8px;

            > div {
                width: 32px;
                height: 32px;
                background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
                border-radius: 50%;
                color: white;
                margin-right: 5px;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .divider {
            height: 30px;
            width: 2px;
            background-color: $grey3;
            border-radius: 2px;
            margin-right: 10px;
            flex-shrink: 0;
        }
    }
}
