@import '@styles/Variables';

.wrapper {
    width: 100%;
    z-index: $toybarZIndex;
    position: fixed;
    bottom: 15px;
    pointer-events: none;

    .container {
        background-color: rgba(white, 0.8);
        padding: 10px;
        border-radius: 15px;
        box-shadow: 0 0px 20px 0 rgba(10, 8, 72, 0.14);
        pointer-events: all;

        .newButtons {
            button {
                all: unset;
                cursor: pointer;
                display: flex;
                align-items: center;
                color: $grey7;
                transition: color 0.3s;

                svg {
                    width: 25px;
                    height: 25px;
                    margin-right: 8px;
                }

                &:not(:last-child) {
                    margin-bottom: 8px;
                }

                &:hover {
                    color: $blue5;
                }
            }
        }

        .streamButton {
            display: flex;
            align-items: center;
            margin-bottom: 8px;

            > div {
                width: 32px;
                height: 32px;
                background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
                border-radius: 50%;
                color: white;
                margin-right: 5px;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .divider {
            height: 30px;
            width: 2px;
            background-color: $grey3;
            border-radius: 2px;
            margin-right: 10px;
            flex-shrink: 0;
        }

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            border: 1px solid $grey5;
            border-radius: 10px;
            background-color: $grey1;
            opacity: 0.5;
            pointer-events: none;

            > svg {
                width: 40px;
                height: 40px;
                color: $grey5;
            }
        }

        .toyBox {
            margin-left: 10px;
            height: 100px;
            min-width: 100px;
            transition: all 0.3s;

            .spacer {
                width: 100px;
            }
        }
    }
}
