@import '@styles/Variables';

.wrapper {
    padding: 10px;
    background-color: $grey1;
    margin: 0 -15px 0 -15px;

    @include for-tablet-portrait-up {
        border-radius: 10px;
        margin: 0;
        border: 1px solid $grey2;
    }

    > div {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        > p {
            font-size: 16px;
            line-height: 16px;
            margin-top: 5px;
        }
    }

    .id {
        position: absolute;
        display: flex;
        right: 8px;
        top: 5px;
        z-index: 5;
        font-size: 14px;
    }
}
