@import '@styles/Variables';

.wrapper {
    position: relative;
    margin-bottom: 10px;
    background-color: $grey1;
    border-radius: 10px;
    padding: 30px;

    .card {
        $baseWidth: 250;
        $baseHeight: 350;
        $baseFontSize: 16;
        $baseBorderRadius: 15;

        width: $baseWidth + px;
        height: $baseHeight + px;
        font-size: $baseFontSize + px;
        border-radius: $baseBorderRadius + px;
        box-shadow: 0 0 30px 0 rgba(10, 8, 72, 0.2);
        background-color: white;
        transition: all ease-in-out 0.5s;

        &.focused {
            $focusScale: 1.4;
            width: $baseWidth * $focusScale + px;
            height: $baseHeight * $focusScale + px;
            font-size: $baseFontSize * $focusScale + px;
            border-radius: $baseBorderRadius * $focusScale + px;
        }

        &.rotating {
            transform: rotateY(90deg);
        }

        .cardContent {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            padding: 20px;

            > button {
                all: unset;
                cursor: pointer;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

            > img {
                position: absolute;
                left: 0;
                top: 0;
                border-radius: inherit;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .icons {
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
        padding: 30px 20px;
        align-items: end;

        button {
            all: unset;
            cursor: pointer;
            color: $grey4;
            transition: color 0.5s;

            &:hover {
                color: $grey6;
            }

            &.blue {
                color: $blue1;
                &:hover {
                    color: $blue1;
                }
            }

            svg {
                width: 25px;
                height: 25px;
            }

            p {
                margin-left: 7px;
                font-size: 17px;
            }
        }
    }
}
