@import '@styles/Variables';

.loading {
    background-color: $grey1;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.results {
    flex-wrap: wrap;
    @include for-tablet-portrait-up {
        flex-wrap: nowrap;
    }
    margin-bottom: 10px;
}

.answers {
    > div {
        background-color: $grey1;
    }
}
