@import '@styles/Variables';

.post {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 7px 10px 0 rgba(10, 8, 72, 0.04);
    position: relative;
    opacity: 1;
    padding: 25px 35px 15px 35px;
    overflow: hidden;
    // &.post-page {
    //     width: 900px;
    // }

    .index {
        width: 10px;
        margin-right: 20px;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: rgba(0, 0, 0, 0.15);
    }

    .header {
        font-size: 15px;
        margin-bottom: 10px;

        p {
            margin-right: 5px;
        }

        .postSpaces {
            overflow: hidden;
            > p { flex-shrink: 0 }

            .otherSpacesButton {
                all: unset;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-color: $grey1;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                margin: 0 7px 0 2px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: $grey2;
                    > p {
                        color: $grey6;
                    }
                }
    
                > p {
                    font-size: 14px;
                    font-weight: 800;
                    margin: 0;
                    color: $grey5;
                    transition: color 0.3s;
                }
            }
        }

        .postType {
            border-radius: 50%;
            width: 38px;
            height: 38px;

            > svg {
                width: 22px;
                height: 22px;
                color: inherit;
            }

            &.text {
                color: $postTypeText;
                border: 2px solid $postTypeText;
            }
            &.url {
                color: $postTypeUrl;
                border: 2px solid $postTypeUrl;
            }
            &.image {
                color: $postTypeImage;
                border: 2px solid $postTypeImage;
            }
            &.audio {
                color: $postTypeAudio;
                border: 2px solid $postTypeAudio;
            }
            &.event {
                color: $postTypeEvent;
                border: 2px solid $postTypeEvent;
            }
            &.glass-bead-game {
                color: $postTypeGlassBeadGame;
                border: 2px solid $postTypeGlassBeadGame;
            }
            &.string {
                color: $postTypeString;
                border: 2px solid $postTypeString;
            }
            &.weave {
                color: $postTypeMultiplayerString;
                border: 2px solid $postTypeMultiplayerString;
            }
            &.prism {
                color: $postTypePrism;
                border: 2px solid $postTypePrism;
            }
        }

        .menuButton {
            all: unset;
            cursor: pointer;
            padding-left: 10px;
            height: 38px;
            display: flex;
            align-items: center;

            &:hover {
                > svg {
                    color: $grey6;
                }
            }

            > svg {
                color: $grey4;
                width: 10px;
                height: 25px;
                transition: color 0.3s;
            }
        }

        .menu {
            position: absolute;
            top: 70px;
            right: 35px;
            background-color: white;
            box-shadow: 0 0 7px 0 rgba(black, 0.15);
            border-radius: 10px;
            padding: 12px;
            z-index: 3;

            > button {
                all: unset;
                cursor: pointer;
                display: flex;
                align-items: center;

                &:hover > svg { color: $grey6; }

                > svg {
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                    color: $grey5;
                    transition: color 0.3s;
                }
            }
        }
    }
    .content {
        width: 100%;
        margin-bottom: 15px;

        // image posts
        .images {
            padding: 7px;
            margin-top: 10px;
        
            .image {
                position: relative;
                &:not(:last-child) {  margin-right: 10px }

                > button {
                    all: unset;
                    cursor: pointer;

                    > img {
                        border-radius: 5px;
                        object-fit: cover;
                        margin-bottom: 10px;
                        box-shadow: 0 0 7px 0 rgba(10, 8, 72, 0.1);
                    }
                }
        
                > p {
                    text-align: center;
                    overflow-wrap: break-word;
                }

                &.large {
                    > button > img {
                        max-width: 100%;
                        max-height: 450px;
                    }
                    > p { width: 100% }
                }

                &.medium {
                    > button > img {
                        width: 300px;
                        height: 300px;
                    }
                    > p { width: 300px }
                }

                &.small {
                    > button > img {
                        width: 225px;
                        height: 225px;
                    }
                    > p { width: 225px }
                }
            }
        }

        .selectedImage {
            > button {
                all: unset;
                cursor: pointer;
                > svg {
                    color: $grey3;
                    width: 25px;
                    height: 25px;
                    &:hover {
                        color: $grey4;
                    }
                    transition: color 0.5s;
                }
            }
            > div {
                margin: 0 10px;
                > img {
                    max-width: calc(100vw - 200px);
                    max-height: calc(100vh - 200px);
                    margin-bottom: 20px;
                }
            }
        }

        // event posts
        .eventTitle {
            h1 {
                margin-bottom: 10px;
                font-size: 24px;
                line-height: 24px;
            }
        }

        .eventTimes {
            margin: 10px 0;
            svg {
                width: 20px;
                height: 20px;
                color: $grey4;
            }

            svg, p {
                margin-right: 5px;
            }

            p { font-size: 14px }
        }

        // audio posts
        .playButton {
            all: unset;
            cursor: pointer;
            display: flex;
            width: 20px;
            height: 20px;
            color: #82bdff; // $blue5;
            margin-right: 10px;
            flex-shrink: 0;
        }

        // glass bead game posts
        .topicImage {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            box-shadow: 0 0 3px rgba(0,0,0,0.2);
            object-fit: cover;
            margin-right: 10px;
        }
    
        .gbgBeads {
            padding: 7px 0px 15px 10px;
            margin: 5px 0 0 -10px;
        }

        .noSavedBeads {
            margin: 10px 0;
            color: $grey4;
        }

        .playAllButton {
            all: unset;
            cursor: pointer;
        }

        // string posts
        .stringBeads {
            padding: 15px 15px 10px 15px;
            margin-bottom: -5px;
            background-color: $grey1;
            border-radius: 20px;
        }

        // weaves
        .beadDivider {
            width: 35px;
            opacity: 1;
            animation-name: fadeInOpacity;
            animation-timing-function: ease-in;
            animation-duration: 2s;
            
            > svg {
                transform: rotate(90deg);
                height: 35px;
                color: $bluegrey2;
            }
        }
    
        .newBeadButton {
            all: unset;
            width: 220px;
            height: 220px;
            flex-shrink: 0;
            background-color: white;
            border-radius: 15px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: box-shadow 0.3s;
            margin-right: 15px;
            box-shadow: 0 0 7px 0 rgba(10, 8, 72, 0.1);

            &:hover {
                box-shadow: 0 0 12px 0 rgba(31, 88, 163, 0.25);
            }

            > svg {
                width: 40px;
                height: 40px;
                color: $grey6;
                margin-bottom: 10px;
            }

            > p {
                color: $grey6;
                width: 150px;
                text-align: center;
            }
        }

        .pendingBead {
            width: 220px;
            height: 220px;
            flex-shrink: 0;
            background-color: white;
            border-radius: 15px;
            box-shadow: 0 0 7px 0 rgba(10, 8, 72, 0.1);

            > p {
                color: $grey6;
                margin-bottom: 10px;
            }
        }

    }

    .footer {
        .statButtons {
            flex-shrink: 0;
            > button {
                font-size: 15px;
                margin-right: 12px;
                color: $grey4;
                &:hover {
                    color: $grey6;
                    cursor: pointer;
                }
            }
        }

        .link {
            width: 20px;
            height: 20px;
            > svg {
                width: 20px;
                height: 20px;
                color: $grey4;
                transition: color 0.3s;
                &:hover { color: $grey6 }
            }
        }
    }
}
// .pinned {
//     background-color: #f1f6ff;
// }
// .pinFlag {
//     background-image: url(/icons/pin-01.png);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-color: transparent;
//     border: none;
//     height: 17px;
//     width: 17px;
//     padding: 0;
//     opacity: 0.4;
//     margin-right: 5px;
//     position: absolute;
//     right: 15px;
//     &:hover {
//         cursor: pointer;
//     }
// }