@import '@styles/Variables';

.post {
    position: relative;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(10, 8, 72, 0.04);
    border: 1px solid $grey2;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
    color: black;
    background-color: white;

    .button {
        all: unset;
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 10px;
        z-index: 5;
    }

    .header {
        font-size: 15px;
        overflow: hidden;
        padding: 2px;

        @include for-tablet-portrait-up {
            overflow: visible;
            padding: 0;
        }

        .time {
            margin-left: 2px;
            font-size: 14px;
        }
    }

    .content {
        width: 100%;
        overflow: hidden;

        .title {
            height: 30px;
            overflow: hidden;
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 0;
        }

        .typeIcon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $grey1;
            margin-right: 10px;
            margin-top: 5px;
            flex-shrink: 0;

            svg {
                width: 22px;
                height: 22px;
                color: $grey5;
            }
        }

        .gbg {
            margin-top: 5px;

            > img {
                width: 30px;
                height: 30px;
                margin-right: 5px;
                border-radius: 15px;
                object-fit: cover;
            }
        }

        .card {
            margin-top: 10px;

            .cardFace {
                width: 40px;
                height: 56px;
                border-radius: 3px;
                box-shadow: 0 0 6px 0 rgba(10, 8, 72, 0.18);
                overflow: hidden;
                margin-right: 15px;

                > img {
                    width: inherit;
                    height: inherit;
                    object-fit: cover;
                }
            }
        }

        .text {
            font-size: 16px;
            line-height: 26px;
            height: 26px;
            overflow: hidden;
        }

        .images {
            margin-top: 10px;

            > img {
                width: 80px;
                height: 80px;
                border-radius: 5px;
                object-fit: cover;
                margin-right: 10px;
            }
        }

        .url {
            margin-top: 5px;
            background-color: $grey1;
            padding: 8px;
            border-radius: 5px;
            width: 100%;

            > img {
                width: 80px;
                height: 50px;
                margin-right: 10px;
                border-radius: 5px;
                object-fit: cover;
            }

            .urlTitle {
                font-weight: 800;
                font-size: 16px;
                line-height: 20px;
                height: 20px;
                overflow: hidden;
            }

            .urlDescription {
                font-size: 16px;
                line-height: 20px;
                height: 20px;
                overflow: hidden;
            }
        }
    }
}
