@import '@styles/Variables';

.wrapper {
    padding: 10px;
    width: 220px;
    height: 220px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 7px 0 rgba(10, 8, 72, 0.1);

    .beadHeader {
        > svg {
            opacity: 0.3;
            width: 20px;
            height: 20px;
        }
    }

    .beadContent {
        height: calc(100% - 25px);
        margin: 5px 0;

        .markdown {
            img {
                max-width: 100%;
            }
        }

        .playButton {
            all: unset;
            cursor: pointer;
            display: flex;
            width: 18px;
            height: 18px;
            color: $blue5;
            margin-right: 5px;
            flex-shrink: 0;
        }

        .image {
            all: unset;
            cursor: pointer;
            width: 160px;
            height: 160px;
            &:not(:last-child) {
                margin-right: 7px;
            }
            > img {
                width: 160px;
                height: 160px;
                border-radius: 5px;
                object-fit: cover;
            }
        }
    }
}
