@import '@styles/Variables';

.loading {
    width: 100%;
    border-radius: 5px;
    background-color: $grey1;
    padding: 10px;
}

.wrapper {
    width: 100%;
    border-radius: 5px;
    background-color: $grey1;
    overflow: hidden;
    transition: background-color 0.3s;
    position: relative;

    &:hover {
        background-color: $grey2;
    }

    > a {
        display: flex;
        flex-direction: column;
        width: 100%;

        img {
            width: 100%;
            height: 180px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            object-fit: cover;
            flex-shrink: 0;
        }

        .urlIcon {
            margin: 12px 0 0 0;
            color: $grey6;
            > svg {
                width: 20px;
                height: 20px;
            }
        }

        p {
            word-break: break-all;
            overflow: hidden;
        }

        .metaData {
            padding: 10px 15px;

            h1 {
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                max-height: 40px;
                overflow: hidden;
                margin-bottom: 2px;
            }

            p {
                font-size: 14px;
                line-height: 18px;
                max-height: 36px;
                margin-bottom: 5px;
            }

            .domain {
                > svg {
                    width: 15px;
                    height: 15px;
                    opacity: 0.3;
                    margin-right: 5px;
                }

                > p {
                    margin: 0;
                    opacity: 0.5;
                }
            }
        }

        @include for-tablet-portrait-up {
            flex-direction: row;

            img {
                width: 240px;
                height: 140px;
                border-top-left-radius: 5px;
                border-top-right-radius: 0px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 0px;
            }

            .urlIcon {
                margin: 0 0 0 12px;
            }
        }
    }

    &.bead {
        height: 100%;

        > a {
            flex-direction: column;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                border-top-right-radius: 5px;
                border-bottom-left-radius: 0;
                flex-shrink: unset;
            }

            .urlIcon {
                display: none;
            }
        }
    }
}
