@import '@styles/Variables';

.wrapper {
    margin-bottom: 10px;
    width: 100%;

    .content {
        position: relative;
        width: 100%;

        .spaceListView {
            width: 100%;
        }

        .spaceMapView {
            padding: 0 10px;
            width: 100%;
            height: calc(100vh - 130px);
        }
    }
}
