@import '@styles/App.scss';

.wrapper {
    width: 100%;
    max-width: 930px;
    margin: 15px 0;
    padding: 0 15px;

    .content {
        width: 100%;
        background-color: white;
        border-radius: 10px;
        padding: 40px;
        text-align: center;

        .creation {
            margin-top: 60px;
            > p { margin-right: 5px }
        }
    }
}
