@import '@styles/Variables';

.wrapper {
    width: 100%;
    padding: 15px 10px;
    background-color: $grey1;
    z-index: 50;
    position: sticky;
    top: 214px;
    @include for-tablet-landscape-up {
        top: 244px;
    }
}
