@import '@styles/Variables';

.wrapper {
    width: 100%;
    margin-top: 60px;
    position: relative;

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
    }

    .header {
        width: 100%;
        background-color: white;
        border-bottom: 2px solid $grey2;
        box-shadow: 0 -5px 15px 0 rgba(black, 0.2);
        z-index: 50;
        position: sticky;
        top: -245px;

        &.collapsed {
            .tabRow {
                height: 45px;
                .spaceDataSmall {
                    opacity: 1;
                }
            }
        }

        .spaceData {
            position: relative;
            padding: 12px 0 10px 15px;
            margin-left: 120px;

            .flagImageLarge {
                position: absolute;
                top: -45px;
                left: -120px;
            }

            .spaceName {
                min-height: 50px;
                margin: 0 20px 0 0;
                word-break: break-word;

                > h1 {
                    margin-bottom: 3px;
                    line-height: 30px;
                }
            }
        }

        .tabRow {
            width: 100%;
            height: 10px;
            align-items: flex-end;
            position: relative;
            z-index: 2;
            transition: height 0.2s;

            @include for-tablet-landscape-up {
                height: 45px;
            }

            .spaceDataSmall {
                margin-bottom: 5px;
                z-index: 1;
                opacity: 0;
                transition: opacity 0.3s;
                white-space: nowrap;
                max-width: 100%;

                @include for-tablet-landscape-up {
                    position: absolute;
                    left: 10px;
                    top: 8px;
                    margin-bottom: 0;
                }

                p {
                    font-size: 18px;
                    margin: 0 7px;
                }

                span {
                    font-size: 16px;
                    color: $grey3;
                }
            }
        }
    }

    .content {
        width: 100%;
        min-height: calc(100vh - 103px);
        padding-top: 15px;

        .lockIcon {
            width: 60px;
            height: 60px;
            color: $grey4;
            margin: 40px 0 20px 0;
        }
    }
}
