@import '@styles/Variables';

.wrapper {
    width: 100%;
    padding-left: $pageContentHorizontalPadding;
    margin-bottom: 10px;

    .content {
        width: 100%;
        height: calc(100vh - 230px);
    }
}
