@import '@styles/Variables';

.wrapper {
    margin-bottom: 10px;
    height: calc(100vh - 250px);

    .content {
        height: 100%;
        overflow: hidden;

        .postListView {
            width: 1215px;
            height: 100%;
        }
        
        .postMapView {
            width: calc(100vw - 40px);
        }
    }
}