@import '@styles/Variables';

.wrapper {
    margin-bottom: 10px;
    width: 100%;
    @include for-post-width-up {
        width: auto;
    }

    .content {
        width: 100%;
        @include for-post-width-up {
            width: auto;
        }

        .postListView {
            width: 100%;
            @include for-desktop-small-up {
                width: 1215px;
            }

            .spaceNavWrapper {
                flex-shrink: 0;
                position: sticky !important;
                top: 313px;
                align-self: flex-start;
                max-height: 68vh;
                width: 200px;
            }
        }
        
        .postMapView {
            width: 100%;
            min-width: calc(100vw - 20px);
            padding: 0 10px;
            
            @include for-desktop-small-up { width: calc(100vw - 40px) }
        }
    }
}