@import '@styles/Variables';

.wrapper {
    margin-bottom: 10px;

    .content {
        .postListView {
            width: 1215px;
        }
        
        .postMapView {
            width: calc(100vw - 40px);
        }
    }
}