@import '@styles/Variables';

.wrapper {
    margin-bottom: 10px;

    .content {
        position: relative;

        .spaceListView {}

        .spaceMapView {
            width: calc(100vw - 40px);
        }
    }
}
