@import '@styles/Variables';

.wrapper {
    margin-bottom: 10px;
    height: calc(100vh - 250px);

    .content {
        height: 100%;
        overflow: hidden;

        .postList {
            width: 900px;
            align-items: center;
        }
        
        .postMap {
            padding: 0 $pageContentHorizontalPadding;
            @include for-tablet-portrait-up { width: 100% }
            @include for-desktop-medium-up { width: 50% }
            @include for-desktop-large-up { width: 100% }
        }
    }
}