@import '@styles/Variables';

.wrapper {
    width: 100%;
    margin-top: 60px;

    .header {
        width: 100%;
        background-color: white;
        border-bottom: 2px solid $grey2;
        box-shadow: 0 -10px 15px 0 rgba(10, 8, 72, 0.06);
        z-index: 50;
        position: sticky;
        top: 130px;

        .spaceData {
            position: relative;
            padding: 12px 0 20px 15px;
            margin-left: 120px;

            .flagImage {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                object-fit: cover;
                flex-shrink: 0;
                position: absolute;
                top: -45px;
                left: -120px;
                background-color: white;
                padding: 3px;
                box-shadow: 0 0 10px 0 rgba(10, 8, 72, 0.08);
        
                > button {
                    all: unset;
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    border-radius: inherit;
                    width: calc(100% - 6px);
                    height: calc(100% - 6px);
                    cursor: pointer;
                    background-color: rgba(black, 0.4);
                    color: white;
                    font-size: 16px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    transition: opacity 0.3s;
                    &:hover { opacity: 1 }
                }
            }

            .spaceName {
                min-height: 50px;
                margin-right: 20px;
                > h1 {
                    margin-bottom: 3px;
                    line-height: 26px;;
                }
            }
        }
    }

    .content {
        min-height: calc(100vh - 243px);
        width: 100%;
        @include for-post-width-up {
            width: auto;
        }
    }
}
