@import '@styles/App.scss';

.wrapper {
    width: 870px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px $pageContentHorizontalPadding;

    .content {
        width: 100%;
        background-color: white;
        border-radius: 10px;
        padding: 20px;

        h1 { margin: 0 }

        .header {
            margin-bottom: 20px;
            width: 280px;
            > h1 {
                margin: 0 10px;
                line-height: 26px;
            }
            > button {
                all: unset;
                cursor: pointer;
                width: 20px;
                height: 20px;
                > svg {
                    width: 20px;
                    height: 20px;
                    color: $grey3;
                }
            }
        }

        .days {
            margin-bottom: 10px;
        }

        .paddingSquare {
            width: 100px;
            height: 100px;
            margin: 5px;
        }

        .daySquare {
            width: 100px;
            height: 100px;
            border: 1px solid $grey2;
            margin: 5px;
            padding: 5px;

            &.highlighted {
                border: 2px solid $blue2;
            }
        }
    }
}
