@import '@styles/Variables';

.wrapper {
    margin-bottom: 10px;
    width: 100%;

    .content {
        position: relative;
        width: 100%;

        .spaceListView {
            width: 100%;

            .spaceNavWrapper {
                flex-shrink: 0;
                position: sticky !important;
                top: 116px;
                left: 0;
                max-height: calc(100vh - 140px);
                min-width: 240px;
                z-index: 5;
            }
        }

        .spaceMapView {
            padding: 0 10px;
            width: 100%;
            height: calc(100vh - 200px);
        }
    }
}
