@import '@styles/Variables';

.mutedComment {
    all: unset;
    cursor: pointer;
    display: flex;
    background-color: $grey1;
    color: $grey5;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    line-height: 14px;
    font-size: 14px;
    align-items: center;

    svg {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
}

.muteButton {
    all: unset;
    cursor: pointer;
    margin-left: 10px;

    svg {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        color: $grey5;
    }
}

.wrapper {
    position: relative;
    margin-bottom: 10px;

    &.linkMap {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        margin: 0;
    }

    .content {
        position: relative;
        margin-left: 6px;
        border-radius: 15px;
        padding: 6px 12px;
        font-size: 14px;
        background-color: $grey1;
        width: calc(100% - 36px);

        .header {
            margin-bottom: 2px;

            .id {
                display: flex;
                align-items: center;
            }

            .menuButton {
                all: unset;
                cursor: pointer;
                display: flex;
                align-items: center;
                padding-left: 8px;
                flex-shrink: 0;

                svg {
                    color: $grey4;
                    height: 18px;
                    transition: color 0.3s;
                }

                &:hover {
                    svg {
                        color: $grey6;
                    }
                }
            }

            .menu {
                position: absolute;
                top: 30px;
                right: 10px;
                background-color: white;
                box-shadow: 0 0 7px 0 rgba(black, 0.15);
                border-radius: 5px;
                padding: 10px;
                z-index: 5;

                button {
                    all: unset;
                    cursor: pointer;
                    display: flex;
                    align-items: center;

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }

                    &:hover > svg {
                        color: $grey6;
                    }

                    > svg {
                        width: 18px;
                        height: 18px;
                        margin-right: 8px;
                        color: $grey5;
                        transition: color 0.3s;
                    }
                }
            }
        }
    }

    &.highlighted .content {
        background-color: $blue7;
    }

    .footer {
        margin: 5px 0 0 36px;

        .stat {
            all: unset;
            cursor: pointer;
            font-size: 14px;
            color: $grey4;
            margin-right: 10px;
            display: flex;
            align-items: center;
            transition: all 0.5s;

            > button {
                all: unset;
                cursor: pointer;
                display: flex;
                align-items: center;
            }

            svg {
                width: 16px;
                height: 16px;
                margin-right: 3px;
            }

            &:hover {
                color: $grey6;
            }

            &.reply {
                margin-right: 5px;
                svg {
                    transform: rotate(180deg);
                }
            }

            &.blue {
                svg {
                    color: $blue1;
                }
            }
        }
    }

    .markdown {
        font-size: 14px;

        &.deleted {
            color: $grey4;
        }
    }
}
