@import '@styles/Variables';

.wrapper {
    position: relative;
    justify-content: flex-start;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.1s;

    &.visible {
        opacity: 1;
    }

    &.isOwnComment {
        justify-content: flex-end;
        .container {
            .message {
                background-color: $blue8;
            }
        }
    }

    &:hover {
        .container {
            .buttons {
                visibility: visible;
            }
        }
    }

    .container {
        .message {
            background-color: $grey1;
            border-radius: 10px;
            padding: 10px 12px;
            width: 100%;
            border: 1px solid $grey2;

            .header {
                margin-bottom: 5px;
            }

            .content {
                position: relative;
                border-radius: 10px;
                font-size: 14px;
                width: 100%;
            }
        }

        .buttons {
            visibility: hidden;
            margin: 0 10px;
            color: $grey4;

            > button,
            > a {
                width: 18px;

                svg {
                    width: 18px;
                    height: 18px;
                    color: $grey4;
                }

                &:hover {
                    svg {
                        color: $grey6;
                    }
                }
            }

            > button {
                all: unset;
                cursor: pointer;

                &:not(:last-child) {
                    margin-right: 10px;
                }

                &.red {
                    svg {
                        color: $likeRed;
                    }
                    &:hover {
                        svg {
                            color: $likeRed;
                        }
                    }
                }

                &.purple {
                    svg {
                        color: $linkPurple;
                    }
                }

                &.orange {
                    svg {
                        color: $ratingOrange;
                    }
                }
            }

            // .menuButton {
            //     all: unset;
            //     cursor: pointer;
            //     display: flex;
            //     align-items: center;
            //     padding-left: 8px;
            //     flex-shrink: 0;

            //     svg {
            //         color: $grey4;
            //         height: 18px;
            //         transition: color 0.3s;
            //     }

            //     &:hover {
            //         svg {
            //             color: $grey6;
            //         }
            //     }
            // }

            // .menu {
            //     position: absolute;
            //     top: 30px;
            //     right: 10px;
            //     background-color: white;
            //     box-shadow: 0 0 7px 0 rgba(black, 0.15);
            //     border-radius: 5px;
            //     padding: 10px;
            //     z-index: 10;

            //     button {
            //         all: unset;
            //         cursor: pointer;
            //         display: flex;
            //         align-items: center;

            //         &:not(:last-child) {
            //             margin-bottom: 10px;
            //         }

            //         &:hover > svg {
            //             color: $grey6;
            //         }

            //         > svg {
            //             width: 18px;
            //             height: 18px;
            //             margin-right: 8px;
            //             color: $grey5;
            //             transition: color 0.3s;
            //         }
            //     }
            // }
        }
    }
}
