@import '@styles/Variables';

.wrapper {
    position: relative;
    height: calc(100vh - 60px);
    width: 100%;
    margin-top: 60px;
    padding: 20px;

    .loading {
        position: absolute;
        height: calc(100% - 40px);
        width: 100%;
        background-color: $grey1;
        opacity: 1;
        z-index: 10;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        @include for-desktop-small-up {
            flex-direction: row-reverse;
        }

        .info {
            padding: 5px;

            @include for-desktop-small-up {
                width: 100%;
                max-width: 780px;
                margin-right: 20px;
                overflow-y: scroll;
            }

            .targetInput {
                position: relative;

                .targetOptions {
                    position: absolute;
                    top: 50px;
                    background-color: white;
                    padding: 5px;
                    border-radius: 5px;
                    box-shadow: 0 10px 10px 0 rgba(10, 8, 72, 0.06);
                    z-index: 5;

                    .targetOption {
                        padding: 5px;
                        border-radius: 5px;
                        cursor: pointer;

                        &:hover {
                            background-color: $blue8;
                        }
                    }
                }
            }

            .targetNotFound {
                width: 100%;
                padding: 20px;
                background-color: white;
                border-radius: 10px;
            }
        }

        .visualisation {
            padding: 5px;
            width: 100%;

            @include for-desktop-small-up {
                height: 100%;
            }

            .canvas {
                width: 100%;
                height: 100%;
            }
        }
    }
}
