@import '@styles/Variables';

.wrapper {
    min-height: calc(100vh - #{$navbarHeight});
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postCardWrapper {
    margin-top: 70px;
    width: 800px;
}
