@import '@styles/Variables';

.wrapper {
    position: relative;
    width: 100%;
    padding: 5px 0;

    span {
        font-family: inherit;
    }

    blockquote {
        margin-block-start: 10px;
        margin-block-end: 10px;
        border-left: 5px solid $grey2;
        padding-left: 10px;
        color: $grey6;
    }

    code,
    pre {
        font-family: monospace;
        > div {
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
            background-color: $grey1;
            font-family: inherit;
        }
    }

    ol,
    ul {
        padding-inline-start: 40px;
    }

    // editor styling
    &.editable {
        background-color: white;
        padding: 0;

        :global(.DraftEditor-root) {
            padding: 0 15px;
            min-height: 30px;

            :global(.DraftEditor-editorContainer) {
                padding: 15px 0;
            }

            :global(.public-DraftEditorPlaceholder-root) {
                padding: 15px 0;
                color: #9197a3;
                position: absolute;
                z-index: 0;
            }
        }
    }

    .toolbar {
        padding: 5px 5px 0 5px;
        border-bottom: 2px solid $grey2;
        z-index: 2;

        > div {
            display: flex;
        }

        .button {
            border: 1px solid $grey2;
            border-radius: 5px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            width: 32px;
            margin: 0 5px 5px 0;
            cursor: pointer;

            &:hover {
                background-color: $grey1;
            }

            > svg {
                height: 32px;
                width: 32px;
            }

            &.active {
                background-color: $grey2;
            }
        }

        .separator {
            width: 2px;
            height: 32px;
            background-color: $grey2;
            margin: 0 10px 0 5px;
        }
    }

    .emojiButtonWrapper {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 5;

        .emojiSelectButton {
            border: 1px solid $grey2;
            border-radius: 5px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            width: 32px;
            margin-right: 5px;
            cursor: pointer;
            font-size: 20px;
            padding-bottom: 6px;

            &:hover {
                background-color: $grey1;
            }

            &.selected {
                background-color: $grey1;
            }
        }

        .emojiSelectPopover {
            position: absolute;
            background-color: white;
            top: 42px;
            left: -270px;
            box-shadow: 0 1px 10px 0 rgba(10, 8, 72, 0.2);
            border-radius: 5px;

            ul {
                padding: 0;
            }
        }
    }

    .alignLeft {
        text-align: left;
    }

    .alignRight {
        text-align: right;
    }

    .alignCenter {
        text-align: center;
    }

    .stats {
        background-color: white;
        padding: 0 10px;
        border: 1px solid $grey2;
        font-size: 14px;
        color: $grey4;
        height: 30px;

        &.error {
            color: $red;
        }

        .errors {
            > svg {
                flex-shrink: 0;
                height: 20px;
                width: 20px;
                margin-right: 5px;
            }
        }
    }

    &.invalid {
        :global(.DraftEditor-root) {
            border: 2px solid $red;
        }

        svg {
            color: $red;
        }
    }

    // &.valid {
    //     :global(.DraftEditor-root) {
    //         border: 2px solid $green;
    //     }

    //     svg {
    //         color: $green;
    //     }
    // }
}
