@import '@styles/Variables';

@keyframes fadeInOpacity {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

.bead {
    position: relative;
    width: 140px;
    height: 140px;
    background-color: white;
    box-shadow: 0 1px 10px 0 rgba(10, 8, 72, 0.15);
    border-radius: 10px;
    padding: 10px;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    flex-shrink: 0;
    transition: box-shadow 1s;

    &.focused {
        box-shadow: 0 1px 15px 0 rgba(56, 111, 212, 0.5);
    }

    > img {
        position: absolute;
        width: 80px;
        height: 80px;
        left: calc(50% - 40px);
        top: calc(50% - 40px);
    }

    .playButton {
        all: unset;
        cursor: pointer;
        display: flex;
        width: 18px;
        height: 18px;
        color: $blue5;
    }

    audio {
        width: 100px;
    }
}