@import '@styles/Variables';

.wrapper {
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
    background-color: white;
    position: relative;
    overflow: hidden;

    @include for-tablet-portrait-up {
        padding: 20px 30px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .typeIcon {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        border-radius: 50%;
        background-color: $grey1;
        flex-shrink: 0;

        svg {
            width: 30px;
            height: 30px;
            color: $grey5;
        }
    }

    .content {
        width: 100%;
        $contentMargin: 5px;
        font-size: 14px;
        color: $grey5;
        margin-bottom: -$contentMargin;
        margin-right: 10px;
        align-items: center;

        .inlineIcon {
            width: 25px;
            height: 25px;
            &.green > svg > path {
                fill: $green2;
            }
            &.red > svg > path {
                fill: $red;
            }
        }

        .state {
            display: flex;
            align-items: center;
            > p {
                flex-shrink: 0;
                margin-right: 5px;
            }
        }

        > p {
            &.green {
                color: $green2;
            }
            &.red {
                color: $red;
            }
        }

        > a,
        > p,
        > div,
        > button {
            flex-shrink: 0;
            margin: 0 $contentMargin $contentMargin 0;
        }
    }

    .seenButton {
        width: 30px;
        height: 30px;
        border: none;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        flex-shrink: 0;
        svg {
            width: 30px;
            height: 30px;
            path {
                fill: $grey3;
            }
        }
    }
}
