@import '@styles/Variables';

.wrapper {
    padding: 10px;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 7px 0 rgba(10, 8, 72, 0.1);
    margin-right: 10px;

    .beadHeader {
        > svg {
            opacity: 0.3;
            width: 20px;
            height: 20px;
        }
    }

    .beadContent {
        height: calc(100% - 20px);
        padding: 5px 0;

        .playButton {
            all: unset;
            cursor: pointer;
            display: flex;
            width: 18px;
            height: 18px;
            color: $blue5;
            margin-right: 5px;
            flex-shrink: 0;
        }

        .image {
            all: unset;
            cursor: pointer;
            width: 90px;
            height: 90px;
            &:not(:last-child) {
                margin-right: 5px;
            }
            > img {
                width: 90px;
                height: 90px;
                border-radius: 5px;
                object-fit: cover;
            }
        }
    }
}
