@import '@styles/Variables';

.wrapper {
    padding: 10px;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 7px 0 rgba(10, 8, 72, 0.1);
    margin-right: 10px;

    .beadHeader {
        > svg {
            opacity: 0.8;
            width: 20px;
            height: 20px;
        }
    }

    .beadContent {
        height: calc(100% - 20px);
        padding: 5px 0;

        .playButton {
            all: unset;
            cursor: pointer;
            display: flex;
            width: 18px;
            height: 18px;
            color: $blue5;
            margin-right: 5px;
            flex-shrink: 0;
        }

        .image {
            all: unset;
            cursor: pointer;
            width: 90px;
            height: 90px;
            margin-right: 5px;
            > img {
                width: 90px;
                height: 90px;
                object-fit: cover;
            }
        }
    }

    .selectedImage {
        > button {
            all: unset;
            cursor: pointer;
            > svg {
                color: $grey3;
                width: 25px;
                height: 25px;
                &:hover {
                    color: $grey4;
                }
                transition: color 0.5s;
            }
        }
        > div {
            margin: 0 10px;
            > img {
                max-width: calc(100vw - 200px);
                max-height: calc(100vh - 200px);
                margin-bottom: 20px;
            }
        }
    }
}