@import '@styles/Variables';

.wrapper {
    overflow: 'unset';
    min-width: 600px;
}

.playButton {
    all: unset;
    cursor: pointer;
    display: flex;
    width: 20px;
    height: 20px;
    color: $blue5;
    margin-right: 10px;
    flex-shrink: 0;
}

.fileUploadInput {
    margin-bottom: 10px;
    label {
        height: 40px;
        border-radius: 20px;
        padding: 0px 20px;
        font-size: 14px;
        border: none;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-property: background-color, filter, color;
        transition-duration: 0.3s;
        flex-shrink: 0;
        background-color: $aqua;
        color: white;
        &:hover {
            &:not(.disabled) {
                cursor: pointer;
                filter: brightness(110%);
                &.grey {
                    filter: brightness(96%);
                }
            }
        }
    }
}

.errors {
    margin-bottom: 20px;
    > p {
        font-size: 14px;
        color: $red;
    }
}
