@import '@styles/Variables';

.topics {
    max-height: 135px;
    margin-bottom: 10px;

    .topicWrapper {
        margin: 0 10px 10px 0;
        padding: 5px 3px;
        border-radius: 20px;
        background-color: $grey2;
        transition: background-color 0.3s;
        cursor: pointer;

        &:hover {
            background-color: $grey3;
        }
    }
}

.selectedTopic {
    align-items: flex-start;
    margin-bottom: 20px;
    .selectedTopicWrapper {
        margin-top: 10px;
        padding: 5px;
        border-radius: 20px;
        background-color: $blue5;
    }
}

.fileUploadInput {
    label {
        height: 40px;
        border-radius: 20px;
        padding: 0px 20px;
        font-size: 14px;
        border: none;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-property: background-color, filter, color;
        transition-duration: 0.3s;
        flex-shrink: 0;
        background-color: $aqua;
        color: white;
        &:hover {
            &:not(.disabled) {
                cursor: pointer;
                filter: brightness(110%);
                &.grey { filter: brightness(96%) }
            }
        }
    }
}

.playButton {
    all: unset;
    cursor: pointer;
    display: flex;
    width: 20px;
    height: 20px;
    color: $blue5;
    margin-right: 10px;
    flex-shrink: 0;
}

.errors {
    margin-bottom: 10px;
    > p {
        font-size: 14px;
        color: $red;
    }
}

.dateTimePicker {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    > div {
        position: relative;
        input {
            cursor: pointer;
        }
    }
}
