@import '@styles/Variables';

.topics {
    max-height: 135px;
    margin-bottom: 10px;

    .topicWrapper {
        margin: 0 10px 10px 0;
        padding: 5px 3px;
        border-radius: 20px;
        background-color: $grey2;
        transition: background-color 0.3s;
        cursor: pointer;

        &:hover {
            background-color: $grey3;
        }
    }
}

.selectedTopic {
    align-items: flex-start;
    margin-bottom: 20px;
    .selectedTopicWrapper {
        margin-top: 10px;
        padding: 5px;
        border-radius: 20px;
        background-color: $blue5;
    }
}

.images {
    padding-bottom: 10px;
    margin-bottom: 10px;

    .image {
        position: relative;
        &:not(:last-child) {  margin-right: 10px }

        > button {
            position: absolute;
            right: 0;
        }

        > img {
            width: 220px;
            height: 220px;
            object-fit: cover;
            margin-bottom: 10px;
        }

        > p {
            width: 220px;
            text-align: center;
            overflow-wrap: break-word;
            margin-bottom: 10px;
        }
    }
}

.fileUploadInput {
    margin-bottom: 10px;
    label {
        height: 40px;
        border-radius: 20px;
        padding: 0px 20px;
        font-size: 14px;
        border: none;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-property: background-color, filter, color;
        transition-duration: 0.3s;
        flex-shrink: 0;
        background-color: $aqua;
        color: white;
        &:hover {
            &:not(.disabled) {
                cursor: pointer;
                filter: brightness(110%);
                &.grey { filter: brightness(96%) }
            }
        }
    }
}

.playButton {
    all: unset;
    cursor: pointer;
    display: flex;
    width: 20px;
    height: 20px;
    color: $blue5;
    margin-right: 10px;
    flex-shrink: 0;
}

.errors {
    margin-bottom: 10px;
    > p {
        font-size: 14px;
        color: $red;
    }
}

.dateTimePicker {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    > div {
        position: relative;
        input {
            cursor: pointer;
        }
    }
}

.urlPreviewWrapper {
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 20px;
}

.invalidUrl {
    font-size: 14px;
    color: $red;
    margin-bottom: 10px;
}

.beadTypeButtons {
    margin-bottom: 20px;
    
    > button {
        all: unset;
        cursor: pointer;
        width: 80px;
        height: 80px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:not(:last-child) { margin-right: 20px }
        &.selected { background-color: $blue8 }

        > svg {
            width: 40px;
            height: 40px;
            opacity: 0.8;
        }
    }
}

.newBead {
    margin-bottom: 20px;
}

.beadDraw {
    padding-bottom: 15px;
    margin-bottom: 40px;
    .bead {
        padding: 10px;
        width: 150px;
        height: 150px;
        flex-shrink: 0;
        background-color: white;
        border-radius: 10px;
        &:not(:last-child) { margin-right: 10px }

        .beadHeader {
            > svg {
                opacity: 0.8;
                width: 20px;
                height: 20px;
            }
        }

        .beadContent {
            max-height: 90px;
            padding: 5px 0;
            p {
                width: 100%;
                text-align: center;
                font-size: 10px;
            }
        }

        .beadFooter {
            width: 100%;
            height: 20px;
            position: relative;

            > button {
                all: unset;
                cursor: pointer;
                width: 20px;
                height: 20px;
                position: absolute;

                > svg {
                    opacity: 0.15;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
