@import '@styles/Variables';

$transitionSpeed: 0.5s;

.wrapper {
    padding: 30px 20px;
    width: calc(100vw - 30px);
    @include for-tablet-landscape-up {
        padding: 40px;
        width: auto;
        width: 900px;
    }

    .postCard {
        width: 780px;
        background-color: white;
        box-shadow: 0 7px 10px 0 rgba(10, 8, 72, 0.04);
        border: 1px solid $grey2;
        position: relative;
        opacity: 1;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;

        .header {
            font-size: 15px;
            line-height: 15px;
            margin-bottom: 10px;

            .addSpacesButton {
                all: unset;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 10px;
                height: 30px;
                padding: 0 10px;
                border: 1px solid $grey3;
                border-radius: 15px;
                color: $grey5;
                cursor: pointer;
                transition: all $transitionSpeed;

                &:hover {
                    color: $blue3;
                    border: 1px solid $blue3;
                    background-color: $blue7;
                }
            }
        }

        .content {
            .title {
                all: unset;
                font-size: 24px;
                margin-bottom: 10px;
            }

            ::placeholder {
                color: $grey4;
            }

            .dates {
                margin-top: 10px;

                svg {
                    width: 20px;
                    height: 20px;
                    color: $grey4;
                    margin-right: 5px;
                }
            }
        }
    }

    .contentOptions {
        .fileUploadInput {
            margin-right: 10px;

            label {
                height: 40px;
                border-radius: 20px;
                padding: 0px 20px;
                font-size: 14px;
                border: none;
                outline: none;
                display: flex;
                justify-content: center;
                align-items: center;
                transition-property: background-color, filter, color;
                transition-duration: 0.3s;
                flex-shrink: 0;
                background-color: $aqua;
                color: white;
                &:hover {
                    &:not(.disabled) {
                        cursor: pointer;
                        filter: brightness(110%);
                        &.grey {
                            filter: brightness(96%);
                        }
                    }
                }
            }
        }

        h2 {
            margin: 0;
        }

        .errors {
            margin-bottom: 20px;
            > p {
                font-size: 14px;
                color: $red;
            }
        }
    }

    .contentButtons {
        margin-bottom: 30px;

        button {
            all: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border: 1px solid $grey3;
            border-radius: 50%;
            background-color: white;
            cursor: pointer;
            transition: all $transitionSpeed;

            &:not(:last-child) {
                margin-right: 10px;
            }

            svg {
                color: $grey7;
                width: 25px;
                height: 25px;
                transition: all $transitionSpeed;
            }

            &:hover,
            &.selected {
                border: 1px solid $blue3;
                background-color: $blue7;

                svg {
                    color: $blue3;
                }
            }
        }
    }
}
