@import '@styles/Variables';

.wrapper {
    .inputRow {
        margin-bottom: 10px;

        p {
            margin-right: 10px;
        }

        > div {
            width: 80px;
        }
    }

    .allowedBeadTypes {
        margin-top: 10px;

        > label {
            margin-bottom: 10px;
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }

    .position {
        all: unset;
        width: 35px;
        height: 35px;
        background-color: $white;
        border-radius: 50%;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.clickable {
            cursor: pointer;
        }
    }

    .positionControls {
        height: 35px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        > button {
            all: unset;
            cursor: pointer;
            display: flex;
            color: $grey4;
            &:hover {
                color: $grey5;
            }
            &:disabled {
                color: $grey3;
                cursor: unset;
            }
            > svg {
                width: 16px;
                height: 16px;
            }
        }
    }

    .colorButtons {
        margin: 20px 0 10px 0;

        > button {
            all: unset;
            cursor: pointer;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            border: 1px solid $black3;
            &:not(:last-child) {
                margin-right: 10px;
            }

            &.selected {
                border: 3px solid $black3;
            }
        }
    }

    .dateTimePicker {
        position: relative;

        > div {
            position: relative;
            width: 220px;

            input {
                cursor: pointer;
            }
        }

        > p {
            margin: 0 10px;
        }

        > button {
            margin-left: 5px;
        }
    }
}
