@import '@styles/Variables';

.wrapper {
    .selectedImage {
        max-width: calc(100vw - 60px);
        max-height: calc(100vh - 60px);
        overflow: hidden;

        @include for-desktop-small-up {
            max-width: calc(100vw - 60px);
            max-height: calc(100vh - 250px);
        }

        > button {
            all: unset;
            cursor: pointer;

            > svg {
                width: 20px;
                height: 20px;
                color: $grey3;
                &:hover {
                    color: $grey4;
                }
                transition: color 0.5s;

                @include for-tablet-landscape-up {
                    width: 25px;
                    height: 25px;
                }
            }
        }

        > div {
            margin: 0 5px;
            @include for-tablet-landscape-up {
                margin: 0 10px;
            }

            > img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
