@import '@styles/Variables';

.inquiryResults {
    flex-wrap: wrap;
    @include for-tablet-portrait-up {
        flex-wrap: nowrap;
    }
    margin-bottom: 10px;
}

.inquiryAnswers {
    > div {
        background-color: $grey1;
    }
}
