@import '@styles/Variables';

.wrapper {
    width: 100%;
    height: calc(100vh - 225px);
    margin-top: -15px;

    .sidebar {
        width: 350px;
        height: 100%;
        background-color: white;
        padding: 10px;

        .chatRow {
            margin-top: 10px;
            display: flex;
            align-items: center;
            border-radius: 5px;
            padding: 5px;

            .chatImage {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 10px;
            }

            h1 {
                font-size: 16px;
                font-weight: 800;
                margin: 0;
            }

            &.selected {
                background-color: $blue8;
            }
        }
    }

    .chat {
        width: 100%;
        padding: 20px;

        .messages {
            height: 100%;
        }
    }

    // upload
    .image {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: $grey2;
        margin-bottom: 20px;
        position: relative;

        > img {
            width: inherit;
            height: inherit;
            border-radius: inherit;
            object-fit: cover;
            position: absolute;
            background-color: white;
            box-shadow: 0 0 10px 0 rgba(10, 8, 72, 0.1);
        }

        > svg {
            color: $grey5;
            width: 60px;
            height: 60px;
        }

        > label {
            position: absolute;
            width: 120px;
            height: 120px;
            cursor: pointer;
            border-radius: 50%;
        }
    }
}
