@import '@styles/Variables';

.wrapper {
    margin-bottom: 10px;
    width: 100%;
    @include for-post-width-up {
        width: auto;
    }

    .content {
        width: 100%;
        @include for-post-width-up {
            width: auto;
        }

        .sideBar {
            min-width: 200px;
            .sideBarHeader {
                color: $grey4;

                svg {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }
            }
        }

        .postListView {
            width: 100%;
            @include for-desktop-small-up {
                width: auto;
                min-width: 800px;
            }
        }

        .postMapView {
            width: calc(100vw - 40px);
        }
    }
}
