@import '@styles/Variables';

.wrapper {
    width: 100%;
    margin-top: 60px;

    .content {
        margin-left: 300px;
        width: calc(100% - 300px);

        @media screen and (max-width: 1500px) {
            margin-left: 270px;
            width: calc(100% - 270px);
        }

        .centerPanel {
            height: calc(100vh - 158px);
        }
    }
}
